# Nzovu Connection Settings
# 
# If running store-api in dev container connected to nzovu_network:
NZOVU_HOST=nzovu_container
#
# If running store-api on host machine:
# NZOVU_HOST=localhost
#
# If using different Docker setup:
# NZOVU_HOST=host.docker.internal

NZOVU_PORT=9000
FASTAPI_HOST=localhost
FASTAPI_PORT=8000
QUEUE_NAME_STORE_CART=store-cart
QUEUE_NAME_CHECKOUT_CART=checkout-cart
CHECKOUT_QUEUE_EXCLUSIVE_KEY=checkout-worker-1
